# Network
ARC_RPC_URL="Https://rpc-testnet.arc.xyz"
NEXT_PUBLIC_CIRCLE_APP_ID="your_circle_app_id_here"
CIRCLE_API_KEY="your_circle_api_key_here"
NEXT_PUBLIC_ARC_DRIFT_CONTRACT_ADDRESS="your_deployed_arc_drift_contract_here"
NEXT_PUBLIC_USDC_ADDRESS="your_testnet_usdc_contract_here"

#Keeper Bot wallet(Do not put real key here)
PRIVATE_KEY="your_wallet_private_key_here"
