# Network
ARC_RPC_URL="https://rpc.testnet.arc.network"
NEXT_PUBLIC_CIRCLE_APP_ID="your_circle_app_id_here"
CIRCLE_API_KEY="your_circle_api_key_here"
NEXT_PUBLIC_ARC_DRIFT_CONTRACT_ADDRESS="0x09BCC629CBF74125d31272dDDB2c4F7723B1Cc3d"
NEXT_PUBLIC_USDC_ADDRESS="0x3600000000000000000000000000000000000000"

#Keeper Bot wallet(Do not put real key here)
PRIVATE_KEY="your_wallet_private_key_here"
